.exercise {
	margin: auto;
	width: 20em;
	border-color: #000000;
	border-style: solid;
	border-width: 1px;
}

.exercise-button {
	width: 100%;
}

.edit-button {
	float: right;
}

.question {
	width: auto;
	margin: 10px;
}

#word-string {
	width: 100%;
	border-width: 0px;
}

#txt-words {
	width: 100%;
	border-width: 0px;
}